:root{
--m-width: 95ch;
--width: 90vw;
}
body{
  max-width: 105ch;
  width: var(--width);
  margin: 1em auto;
  box-shadow: 0px 0px 5px 1px #fafafa;
  font-family: sans-serif;
}
#logo{
  font-size: 40px;
}
header{
  max-width: var(--m-width);
  margin: 0 auto;
  padding: 1em;
}


main{
  max-width: var(--m-width);
  margin: 0 auto;
  padding: 1em;
}

nav {
  max-width: var(--m-width);
  margin: 0 auto;
  padding: 5px 10px;
  border-bottom: solid thin silver;
}


nav li{
  display: inline;
  padding: 5px 10px;
}

nav li:hover{
  background: #fafafa;
}

fieldset{
  margin: 1em 0;
}
footer{
  border-top: solid thin silver;
  max-width: var(--m-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 2em 1em;
}
fieldset#password{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
label{
  margin: 5px;
}
.close-button{
  border: solid thin silver;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 20px;
  line-height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.close-button:hover{
  box-shadow: 1px 1px 1px 1px #afafaf;
  cursor: pointer;
}
dialog{
}
